body {
    background-color: aqua;
    font-family: Arial, New Roman, sans-serif;
    font-size: 1.5em;
    color: blueviolet;
}

h1 {
    color: blanchedalmond;
    font-family: Georgia; aqua;
}

form input[type=text]  {
    width: auto;
    margin: 5px;
    border: 2px solid blueviolet;
    border-radius: 4px;
}
